<!-- Bootstrap core CSS -->
<link href="/styles/vendor/bootstrap.min.css" rel="stylesheet">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="/styles/vendor/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/styles/vendor/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/styles/dashboard.css" rel="stylesheet">
<link href="/styles/iconfont.css" rel="stylesheet">

<script src="/scripts/vendor/jquery-2.1.4.min.js"/>
<script src="/scripts/vendor/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/scripts/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/scripts/vendor/ie10-viewport-bug-workaround.js"></script>

<script src="/scripts/vendor/angular.min.js"></script>
<script src="/scripts/vendor/angular-route.min.js"></script>