
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont">&#xe65f;</i>
                    <div class="name">下线</div>
                    <div class="code">&amp;#xe65f;</div>
                    <div class="fontclass">.xiaxian</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe65d;</i>
                    <div class="name">参数采集</div>
                    <div class="code">&amp;#xe65d;</div>
                    <div class="fontclass">.canshucaiji</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe65c;</i>
                    <div class="name">解除绑定</div>
                    <div class="code">&amp;#xe65c;</div>
                    <div class="fontclass">.jiechubangding</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe659;</i>
                    <div class="name">重新下载</div>
                    <div class="code">&amp;#xe659;</div>
                    <div class="fontclass">.zhongxinxiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe653;</i>
                    <div class="name">错误提示</div>
                    <div class="code">&amp;#xe653;</div>
                    <div class="fontclass">.cuowutishi</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe650;</i>
                    <div class="name">注销</div>
                    <div class="code">&amp;#xe650;</div>
                    <div class="fontclass">.zhuxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe64e;</i>
                    <div class="name">确认注销</div>
                    <div class="code">&amp;#xe64e;</div>
                    <div class="fontclass">.querenzhuxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe652;</i>
                    <div class="name">正确提示</div>
                    <div class="code">&amp;#xe652;</div>
                    <div class="fontclass">.zhengquetishi</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe651;</i>
                    <div class="name">添加</div>
                    <div class="code">&amp;#xe651;</div>
                    <div class="fontclass">.tianjia</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe654;</i>
                    <div class="name">日历</div>
                    <div class="code">&amp;#xe654;</div>
                    <div class="fontclass">.rili</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe64d;</i>
                    <div class="name">查看</div>
                    <div class="code">&amp;#xe64d;</div>
                    <div class="fontclass">.chakan</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe64b;</i>
                    <div class="name">导出表格</div>
                    <div class="code">&amp;#xe64b;</div>
                    <div class="fontclass">.daochubiaoge</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe669;</i>
                    <div class="name">个人资料</div>
                    <div class="code">&amp;#xe669;</div>
                    <div class="fontclass">.gerenziliao</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe66a;</i>
                    <div class="name">账户管理</div>
                    <div class="code">&amp;#xe66a;</div>
                    <div class="fontclass">.zhanghuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe66b;</i>
                    <div class="name">用户手册</div>
                    <div class="code">&amp;#xe66b;</div>
                    <div class="fontclass">.yonghushouce</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe66c;</i>
                    <div class="name">注销1</div>
                    <div class="code">&amp;#xe66c;</div>
                    <div class="fontclass">.zhuxiao1</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe668;</i>
                    <div class="name">更新</div>
                    <div class="code">&amp;#xe668;</div>
                    <div class="fontclass">.gengxin</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe666;</i>
                    <div class="name">锁定</div>
                    <div class="code">&amp;#xe666;</div>
                    <div class="fontclass">.suoding</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe667;</i>
                    <div class="name">解锁</div>
                    <div class="code">&amp;#xe667;</div>
                    <div class="fontclass">.jiesuo</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe665;</i>
                    <div class="name">角色权限</div>
                    <div class="code">&amp;#xe665;</div>
                    <div class="fontclass">.jiaosequanxian</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe663;</i>
                    <div class="name">新增版本1</div>
                    <div class="code">&amp;#xe663;</div>
                    <div class="fontclass">.xinzengbanben1</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe662;</i>
                    <div class="name">取消</div>
                    <div class="code">&amp;#xe662;</div>
                    <div class="fontclass">.quxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe661;</i>
                    <div class="name">已经发布</div>
                    <div class="code">&amp;#xe661;</div>
                    <div class="fontclass">.yijingfabu</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe660;</i>
                    <div class="name">密码重置</div>
                    <div class="code">&amp;#xe660;</div>
                    <div class="fontclass">.mimazhongzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe65e;</i>
                    <div class="name">审批</div>
                    <div class="code">&amp;#xe65e;</div>
                    <div class="fontclass">.shenpi</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe658;</i>
                    <div class="name">在线</div>
                    <div class="code">&amp;#xe658;</div>
                    <div class="fontclass">.zaixian</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe657;</i>
                    <div class="name">通讯管理展开-展开</div>
                    <div class="code">&amp;#xe657;</div>
                    <div class="fontclass">.tongxunguanlizhankaizhankai</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe656;</i>
                    <div class="name">通讯管理</div>
                    <div class="code">&amp;#xe656;</div>
                    <div class="fontclass">.tongxunguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe655;</i>
                    <div class="name">通讯管理展开</div>
                    <div class="code">&amp;#xe655;</div>
                    <div class="fontclass">.tongxunguanlizhankai</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe64f;</i>
                    <div class="name">警告</div>
                    <div class="code">&amp;#xe64f;</div>
                    <div class="fontclass">.jinggao</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe648;</i>
                    <div class="name">删掉</div>
                    <div class="code">&amp;#xe648;</div>
                    <div class="fontclass">.shandiao</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe649;</i>
                    <div class="name">操作</div>
                    <div class="code">&amp;#xe649;</div>
                    <div class="fontclass">.caozuo</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe64a;</i>
                    <div class="name">填写报告</div>
                    <div class="code">&amp;#xe64a;</div>
                    <div class="fontclass">.tianxiebaogao</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe63f;</i>
                    <div class="name">系统公告1</div>
                    <div class="code">&amp;#xe63f;</div>
                    <div class="fontclass">.xitonggonggao1</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe63c;</i>
                    <div class="name">个人账户管理</div>
                    <div class="code">&amp;#xe63c;</div>
                    <div class="fontclass">.gerenzhanghuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe63b;</i>
                    <div class="name">权限管理</div>
                    <div class="code">&amp;#xe63b;</div>
                    <div class="fontclass">.quanxianguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe613;</i>
                    <div class="name">产品管理</div>
                    <div class="code">&amp;#xe613;</div>
                    <div class="fontclass">.chanpinguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe629;</i>
                    <div class="name">iconfont-unie633</div>
                    <div class="code">&amp;#xe629;</div>
                    <div class="fontclass">.iconfontunie633</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62a;</i>
                    <div class="name">iconfont-unie635</div>
                    <div class="code">&amp;#xe62a;</div>
                    <div class="fontclass">.iconfontunie635</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62b;</i>
                    <div class="name">iconfont-unie636</div>
                    <div class="code">&amp;#xe62b;</div>
                    <div class="fontclass">.iconfontunie636</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62c;</i>
                    <div class="name">iconfont-unie637</div>
                    <div class="code">&amp;#xe62c;</div>
                    <div class="fontclass">.iconfontunie637</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62d;</i>
                    <div class="name">iconfont-unie639</div>
                    <div class="code">&amp;#xe62d;</div>
                    <div class="fontclass">.iconfontunie639</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62e;</i>
                    <div class="name">iconfont-unie643</div>
                    <div class="code">&amp;#xe62e;</div>
                    <div class="fontclass">.iconfontunie643</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe62f;</i>
                    <div class="name">iconfont-unie646</div>
                    <div class="code">&amp;#xe62f;</div>
                    <div class="fontclass">.iconfontunie646</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe630;</i>
                    <div class="name">iconfont-unie649</div>
                    <div class="code">&amp;#xe630;</div>
                    <div class="fontclass">.iconfontunie649</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe631;</i>
                    <div class="name">iconfont-unie656</div>
                    <div class="code">&amp;#xe631;</div>
                    <div class="fontclass">.iconfontunie656</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe632;</i>
                    <div class="name">iconfont-unie657</div>
                    <div class="code">&amp;#xe632;</div>
                    <div class="fontclass">.iconfontunie657</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe615;</i>
                    <div class="name">iconfont-unie64e</div>
                    <div class="code">&amp;#xe615;</div>
                    <div class="fontclass">.iconfontunie64e</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe616;</i>
                    <div class="name">iconfont-unie64f</div>
                    <div class="code">&amp;#xe616;</div>
                    <div class="fontclass">.iconfontunie64f</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe617;</i>
                    <div class="name">iconfont-unie65a</div>
                    <div class="code">&amp;#xe617;</div>
                    <div class="fontclass">.iconfontunie65a</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe618;</i>
                    <div class="name">iconfont-unie65b</div>
                    <div class="code">&amp;#xe618;</div>
                    <div class="fontclass">.iconfontunie65b</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe619;</i>
                    <div class="name">iconfont-unie65c</div>
                    <div class="code">&amp;#xe619;</div>
                    <div class="fontclass">.iconfontunie65c</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61a;</i>
                    <div class="name">iconfont-unie122</div>
                    <div class="code">&amp;#xe61a;</div>
                    <div class="fontclass">.iconfontunie122</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61b;</i>
                    <div class="name">iconfont-unie611</div>
                    <div class="code">&amp;#xe61b;</div>
                    <div class="fontclass">.iconfontunie611</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61c;</i>
                    <div class="name">iconfont-unie612</div>
                    <div class="code">&amp;#xe61c;</div>
                    <div class="fontclass">.iconfontunie612</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61d;</i>
                    <div class="name">iconfont-unie614</div>
                    <div class="code">&amp;#xe61d;</div>
                    <div class="fontclass">.iconfontunie614</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61e;</i>
                    <div class="name">iconfont-unie615</div>
                    <div class="code">&amp;#xe61e;</div>
                    <div class="fontclass">.iconfontunie615</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe61f;</i>
                    <div class="name">iconfont-unie616</div>
                    <div class="code">&amp;#xe61f;</div>
                    <div class="fontclass">.iconfontunie616</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe620;</i>
                    <div class="name">iconfont-unie621</div>
                    <div class="code">&amp;#xe620;</div>
                    <div class="fontclass">.iconfontunie621</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe621;</i>
                    <div class="name">iconfont-unie622</div>
                    <div class="code">&amp;#xe621;</div>
                    <div class="fontclass">.iconfontunie622</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe622;</i>
                    <div class="name">iconfont-unie623</div>
                    <div class="code">&amp;#xe622;</div>
                    <div class="fontclass">.iconfontunie623</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe623;</i>
                    <div class="name">iconfont-unie624</div>
                    <div class="code">&amp;#xe623;</div>
                    <div class="fontclass">.iconfontunie624</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe624;</i>
                    <div class="name">iconfont-unie63a</div>
                    <div class="code">&amp;#xe624;</div>
                    <div class="fontclass">.iconfontunie63a</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe625;</i>
                    <div class="name">iconfont-unie64a</div>
                    <div class="code">&amp;#xe625;</div>
                    <div class="fontclass">.iconfontunie64a</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe601;</i>
                    <div class="name">iconfont-Graph</div>
                    <div class="code">&amp;#xe601;</div>
                    <div class="fontclass">.iconfontgraph</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe614;</i>
                    <div class="name">信封</div>
                    <div class="code">&amp;#xe614;</div>
                    <div class="fontclass">.iconfontunie62c</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe613;</i>
                    <div class="name">iconfont-unie62a</div>
                    <div class="code">&amp;#xe613;</div>
                    <div class="fontclass">.iconfontunie62a</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe612;</i>
                    <div class="name">iconfont-unie61f</div>
                    <div class="code">&amp;#xe612;</div>
                    <div class="fontclass">.iconfontunie61f</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe611;</i>
                    <div class="name">iconfont-unie61e</div>
                    <div class="code">&amp;#xe611;</div>
                    <div class="fontclass">.iconfontunie61e</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe610;</i>
                    <div class="name">iconfont-unie60e</div>
                    <div class="code">&amp;#xe610;</div>
                    <div class="fontclass">.iconfontunie60e</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe628;</i>
                    <div class="name">iconfont-unie64d</div>
                    <div class="code">&amp;#xe628;</div>
                    <div class="fontclass">.iconfontunie64d</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe627;</i>
                    <div class="name">iconfont-unie64c</div>
                    <div class="code">&amp;#xe627;</div>
                    <div class="fontclass">.iconfontunie64c</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe626;</i>
                    <div class="name">iconfont-unie64b</div>
                    <div class="code">&amp;#xe626;</div>
                    <div class="fontclass">.iconfontunie64b</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe602;</i>
                    <div class="name">iconfont-home</div>
                    <div class="code">&amp;#xe602;</div>
                    <div class="fontclass">.iconfonthome</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe603;</i>
                    <div class="name">iconfont-unie04b</div>
                    <div class="code">&amp;#xe603;</div>
                    <div class="fontclass">.iconfontunie04b</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe604;</i>
                    <div class="name">iconfont-unie011</div>
                    <div class="code">&amp;#xe604;</div>
                    <div class="fontclass">.iconfontunie011</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe605;</i>
                    <div class="name">iconfont-unie036</div>
                    <div class="code">&amp;#xe605;</div>
                    <div class="fontclass">.iconfontunie036</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe606;</i>
                    <div class="name">iconfont-unie039</div>
                    <div class="code">&amp;#xe606;</div>
                    <div class="fontclass">.iconfontunie039</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe607;</i>
                    <div class="name">iconfont-unie040</div>
                    <div class="code">&amp;#xe607;</div>
                    <div class="fontclass">.iconfontunie040</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe608;</i>
                    <div class="name">iconfont-unie041</div>
                    <div class="code">&amp;#xe608;</div>
                    <div class="fontclass">.iconfontunie041</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe609;</i>
                    <div class="name">iconfont-unie042</div>
                    <div class="code">&amp;#xe609;</div>
                    <div class="fontclass">.iconfontunie042</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe60a;</i>
                    <div class="name">iconfont-unie044</div>
                    <div class="code">&amp;#xe60a;</div>
                    <div class="fontclass">.iconfontunie044</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe60f;</i>
                    <div class="name">iconfont-unie60b</div>
                    <div class="code">&amp;#xe60f;</div>
                    <div class="fontclass">.iconfontunie60b</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe60e;</i>
                    <div class="name">iconfont-unie60a</div>
                    <div class="code">&amp;#xe60e;</div>
                    <div class="fontclass">.iconfontunie60a</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe60d;</i>
                    <div class="name">iconfont-unie059</div>
                    <div class="code">&amp;#xe60d;</div>
                    <div class="fontclass">.iconfontunie059</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe60c;</i>
                    <div class="name">iconfont-unie048</div>
                    <div class="code">&amp;#xe60c;</div>
                    <div class="fontclass">.iconfontunie048</div>
                </li>
            
                <li>
                <i class="icon iconfont">&#xe60b;</i>
                    <div class="name">iconfont-unie047</div>
                    <div class="code">&amp;#xe60b;</div>
                    <div class="fontclass">.iconfontunie047</div>
                </li>
            
        </ul>


        <div class="helps">
            第一步：使用font-face声明字体
            <pre>
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
</pre>
第二步：定义使用iconfont的样式
            <pre>
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
</pre>
第三步：挑选相应图标并获取字体编码，应用于页面
<pre>
&lt;i class="iconfont"&gt;&amp;#x33;&lt;/i&gt;
</pre>
        </div>

    </div>
</body>
</html>
