<!DOCTYPE html>
<html data-ng-app="jobApp">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/styles/vendor/bootstrap.min.css" rel="stylesheet">
    <!--Bootstrap date-picker style-->
    <link href="/styles/vendor/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/styles/vendor/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!--index style-->
    <link href="/styles/index.css" rel="stylesheet">

    <script src="/scripts/vendor/jquery-2.1.4.min.js"/>
    <script src="/scripts/vendor/bootstrap.min.js"></script>
    <script src="/scripts/vendor/bootstrap-datetimepicker.min.js"></script>
    <script src="/scripts/vendor/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/scripts/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/scripts/vendor/ie10-viewport-bug-workaround.js"></script>
    <!--angular framework-->
    <script src="/scripts/vendor/angular.min.js"></script>
    <script src="/scripts/vendor/angular-route.min.js"></script>
    <script src="/scripts/vendor/angular-ui-router.min.js"></script>
    <script src="/scripts/vendor/angular-animate.min.js"></script>
    <script src="/scripts/vendor/angular-md5.min.js"></script>


</head>
<body data-ng-controller="appController">
<div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div data-ng-controller="NavController" class="row header">
        <div class="col-xs-12 col-sm-4 col-md-4 logo" ui-sref="index">
            <a href="" data-ng-bind="headerText.sys"></a>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2 home" ui-sref="index">
            <a href="" data-ng-bind="headerText.index"></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 com" ui-sref="enterprise">
            <a href="" data-ng-bind="headerText.enterprise"></a>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1 col-sm-offset-1 col-md-offset-1 lgi" ui-sref="login"  ng-hide="isUserLogin">
            <a href="" data-ng-bind="headerText.login"></a>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1 rgr" ui-sref="register" ng-hide="isUserLogin">
            <a href="" data-ng-bind="headerText.register"></a>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1 ctr" ui-sref="center" ng-show="isUserLogin">
            <a href="" data-ng-bind="headerText.center"></a>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1 col-sm-offset-1 col-md-offset-1 lgt" ui-sref="logout" ng-show="isUserLogin">
            <a href="" data-ng-bind="headerText.logout"></a>
        </div>

        <!--<input type="text" data-ng-model="headerText.sys"/>-->
    </div>
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div ui-view></div>
    <div ui-view={{userType}}></div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="footer-span"></div>
    <div class="navbar-fixed-bottom row footer">
        <div class="col-xs-12">中国最高效的企业招聘平台</div>
    </div>
</div>


<!--Main framework-->
<script src="/scripts/app.js"></script>
<script src="/scripts/controller/job_controller.js"></script>
<script src="/scripts/service/services.js"></script>
</body>
</html>
