<!DOCTYPE html>
<html data-ng-app="mainModel">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/base/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/base/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--index style-->
    <link href="/main/css/index.css" rel="stylesheet">

    <script src="/base/js/jquery-2.1.4.min.js"/>
    <script src="/base/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/base/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/base/js/ie10-viewport-bug-workaround.js"></script>
    <!--angular framework-->
    <script src="/base/js/angular.min.js"></script>
    <script src="/base/js/angular-route.min.js"></script>
    <!--Main framework-->
    <script src="/main/js/mainModel.js"></script>

</head>
<body>
<div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div data-ng-controller="NavController" class="row header">
        <div class="col-xs-12 col-sm-4 col-md-4 logo">
            <a href="#/index" data-ng-bind="headerText.sys"></a>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2 home">
            <a href="#/index" data-ng-bind="headerText.index"></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 com">
            <a href="#/enterprise" data-ng-bind="headerText.enterprise"></a>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1 col-sm-offset-1 col-md-offset-1">
            <a href="#/login" data-ng-bind="headerText.login"></a>
        </div>
        <div class="col-xs-3 col-sm-1 col-md-1">
            <a href="#/register" data-ng-bind="headerText.register"></a>
        </div>
        <!--<input type="text" data-ng-model="headerText.sys"/>-->
    </div>
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div data-ng-view></div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="footer-span"></div>
    <div class="navbar-fixed-bottom row footer">
        <div class="col-xs-12">中国最高效的企业招聘平台</div>
    </div>
</div>
</body>
</html>
