<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>企业人才招聘</title>
    <link href="css/job.css" rel="stylesheet" type="text/css"/>
    <script src="js/job.js"></script>
</head>

<body>
<div id="abody">
    <div id="header">
        <div class="logo"><img src="img/logo.png" width="79" height="27"/></div>
        <div class="logo_txt">欢迎来到era公司的招聘网站！</div>
        <div class="logo_right"><a href="#">返回首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">个人中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                href="#">联系我们</a></div>
        <div class="clear"></div>
    </div>
    <div id="content">
        <div class="lmenu">
            <div class="amenu" id="rz_menu">热招职位</div>
            <div class="bmenu" id="ss_menu">职位搜索</div>
            <div class="bmenu" id="tj_menu">人才推荐</div>
            <div class="bmenu" id="lc_menu">招聘流程</div>
            <div class="bmenu" id="wh_menu">企业文化</div>
            <div class="bmenu" id="dl_menu">登录 | 注册</div>
            <div class="clear"></div>
        </div>
        <div class="abanner"><img id="bannerImg" src="img/banner/banner_1.jpg" width="990" height="200"/></div>
        <div id="xx1"></div>
        <div id="xx2"></div>
        <div id="xx3"></div>
        <div class="rz">
            <div class="rz_title" style="color:#6A2602;"><strong>TOP10 热招职位</strong></div>
            <div class="rz_txt">
                <table class="hotTable">
                    <tr>
                        <td>1.销售主管</td>
                    </tr>
                    <tr>
                        <td>2.高级软件开发工程师</td>
                    </tr>
                    <tr>
                        <td>3.3D设计师</td>
                    </tr>
                    <tr>
                        <td>4.招聘猎头</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="rz">
            <div class="rz_title" style="color:#6A2602;"><strong>职位搜索</strong></div>
            <div class="rz_txt">
                <div class="ss">
                    <div class="sr"><input type="text" class="srk">
                        <a href="#"><img class="imgg" src="img/ss_btn.jpg" width="120" height="30"/></a></div>
                    <div class="clear"></div>
                </div>
                <table border="1">
                    <tr>
                        <td width="180" align="center">职位ID</td>
                        <td width="180" align="center">职位名称</td>
                        <td align="center" width="180">职位要求</td>
                        <td width="180" align="center">招聘人数</td>
                        <td align="center">薪资范围</td>
                    </tr>
                    <tr>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                    </tr>
                </table>


            </div>
        </div>
        <!--人才推荐-->
        <div class="rz">
            <div class="rz_title" style="color:#6A2602;"><strong>人才推荐</strong></div>
            <div class="rz_txt">
                <table border="1">
                    <tr>
                        <td width="163" align="center">职位ID</td>
                        <td width="163" align="center">职位名称</td>
                        <td align="center" width="163">职位要求</td>
                        <td width="163" align="center">招聘人数</td>
                        <td width="163" align="center">薪资范围</td>
                        <td align="center">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center"><a href="#"><img src="img/tj_btn.jpg" width="80" height="25"/></a></td>
                    </tr>
                    <tr>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center">&nbsp;</td>
                        <td align="center"><a href="#"><img src="img/tj_btn.jpg" width="80" height="25"/></a></td>
                    </tr>
                </table>


            </div>
        </div>
        <!--招聘流程-->
        <div class="rz">
            <div class="rz_title" style="color:#6A2602;"><strong>招聘流程</strong></div>
            <div class="rz_txt">
                “旭东招聘”致力于实践和传播的使命。先后有10余位盛道专家团队成员，受邀出任各大企业独立董事、专业委员会委员等职务,独家研发（咨询+教练+培训）实战创新模式，同时是”高管效能管理”相关工具、方法的知识产权拥有者。
                课程咨询电话：400-101-5686
            </div>

        </div>
        <!--企业文化-->
        <div class="rz">
            <div class="rz_title" style="color:#6A2602;"><strong>企业文化</strong></div>
            <div class="rz_txt">
                企业招聘网,为您提供最新企业文化专员招聘信息,企业文化专员求职信息,同时您可了解最新企业文化专员薪资待遇、招聘要求、岗位要求、岗位职责。
            </div>
            <div class="rz_pic">
                <div class="wh_pic"><img src="img/wh_img01.jpg" width="220" height="130"/></div>
                <div class="wh_pic"><img src="img/wh_img02.jpg" width="220" height="130"/></div>
                <div class="wh_pic"><img src="img/wh_img03.jpg" width="220" height="130"/></div>
                <div class="wh_pic"><img src="img/wh_img04.jpg" width="220" height="130"/></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div id="footer">
        <div class="shengming">未经 Zhaopin.com 同意，不得转载本网站之所有招聘信息及作品 招聘网版权所有© 1997-2015<br/>
            京ICP备12025925号 电信业务审批[2001]字第233号函 京公网安备110105000322
        </div>
    </div>
</div>
</body>
</html>
