a:link, a:visited {
    text-decoration: none;
}

/*header*/
.header {
    background: #fafafa;
    border-bottom: solid 2px #e5e5e5;
    line-height: 3.2em;
    font-size: 1.1em;
    margin-top: 2px;
}

.header a {
    color: #999;
    display: block;
    text-align: center;
}

.header a:hover {
    color: #333;
    border-bottom: 1px solid #398439;
}

.content-sec {
    /*overflow:scroll;*/
}
.logo,.home,.com,.lgi,.rgr,.ctr,.lgt{
    font-size: 1.1em;
}
.logo {
    padding-left: 9em;
}

.logo > a {
    color: #398439;
}

.logo > a:hover {
    border-bottom: none;
}

/*search*/
.search .form-control {
    border: 1px solid #398439;
}

/*hot term*/
.hot-job {
    /*border: solid 1px #5cb85c;*/
    border-top: none;
}

.hot-text {
    color: #FF0000;
    font-size: 0.9em;
    display: inline-block;
}

.hot-item > a {
    background: #5cb85c;
    border: solid 1px #5cb85c;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.8em;
    padding: 0.1em;
    display: inline-block;
}

/*main page*/
.main, .category {
    margin-top: 0.4em;
}

.list-group-item {
    padding: 1px 2px;
}

.menu {
    border: solid 1px #ffffff;
}

.sub-menu {
    /*background: #e5e5e5;*/
}

.cg-key {
    background: #5cb85c;
    border-radius: 2px;
    display: block;
    padding: 0.1em;
    color: #ffffff;
}

.menu-item {
    display: none;
    border: solid 1px #5cb85c;
    border-top: none;
}

.item {
    padding: 0.1em;
    border-right: solid 1px #A3A3A3;
}

.item > a {
    font-size: 0.8em;
    color: #006000;
}

.item:last-child {
    border-right: none;
    margin-bottom: 0.1em;
}

.sub-menu:hover > .cg-key {
    background: #398439;
}

.sub-menu:hover > .menu-item {
    display: block;
}


.job-item {
    margin-right: 2em;
    padding-top: 1em;
    border-bottom: solid 1px #5cb85c;
}

.job-item:last-child {
    border-bottom: none;
    margin-bottom: 1em;
}

.job-title > a {
    color: #398439;
    font-weight: 600;
}

.job-date {
    margin-left: 2px;
    color: #9D9D9D;
    font-size: 0.9em;
    font-weight: 300;
    display: inline-block;
}

.job-salary {
    color: #FF0000;
    display: inline-block;
}

.job-req {
    display: inline-block;
}

.job-company > a {
    color: #398439;
    font-weight: 600;
    display: block;
}

.job-company-type {
    display: inline-block;
}

/*footer*/
.footer-span{
    margin-bottom: 6em;
}
.footer {
    background: #398439;
    border: solid 0.1em #e5e5e5;
    line-height: 3em;
    text-align: center;
    color: #FFFFFF;
}

/*enterprise list page */
.enterprise-category {
    line-height: 4em;
    border: solid 1px #fbf9ff;
}
.cat_tab {
    margin-right: 0.5em;
    padding: 0.8em;
    white-space: nowrap;
    background-color: #fff7db;
    border-radius: 1em;
    cursor: pointer;
    color: #23ec4b;
    font-weight: 800;
}
.small-tab {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tab-block {
    position: relative;
    margin: 0.3em 0;
    line-height: 5em;
}
.tab-block .small-logo {
    width: 5em;
    height: 5em;
}

.tab-block > table {
    border: 1px solid #bdaa4b;
}

.table > tbody > tr > td {
    border-top: 0px solid #bdaa4b;
    padding: 4px;
}

.etp-logo {
    width: 7em;
}

.etp-title {
    color: #38aa5c;
    font-weight: 900;
    font-size: 1.5em;
}

.etp-type {
    color: #000000;
    font-size: 0.6em;
}

.etp-status {
    font-size: 1.2em;
}
.etp-status-count{
    color: #ff3248;

}
/*enterprise list page */
/*login page */
.r_index {
    color: #e8e1c7;
    font-size: 2em;
}

.r_index:hover {
    color: #5cb85c;
}

.login {
    background-color: #FFFFFF;
}

.er {
    width: 80%;
    margin-top: -10em;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 200px;
    background-color: #FFFFFF;
    border: solid 1px #0d9a52;
    border-radius: 1.5em;
    padding: 2em;
}

.row.top {
    line-height: 15em;
    background-color: #5cb85c;
}
/*login page */

/*setting*/
.left-slide {
    height: auto;
    line-height: 3em;
    /*background-color: #9bffa8;*/
}
.left-slide div{
    margin-left:auto;
    margin-right:auto;
    width: 96%;
    font-size: 1em;
}
/*setting*/


@media (max-width: 768px) {
    /*xs*/
    .category {
        display: none;
    }

    .logo {
        margin-bottom: 1em;
        padding-left: 1em;
        border-bottom: solid 2px #e5e5e5;
        background: #398439;
    }

    .logo > a {
        color: #FFFFFF;
    }
}

@media (min-width: 768px ) and (max-width: 992px) {
    /*sm*/
    .logo {
        padding-left: 0.5em;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /*md*/
}

@media (min-width: 1200px) {
    /*lg*/
}


[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}