<h3>ct_e_position_add</h3>
<pre>
    职位名称、职位描述、职位基本要求、职位的有效期限、职位的招聘人数
</pre>

<form class="form-horizontal" role="form" name="enterpriseInfoForm" novalidate>
    <div class="form-group">
        <label for="p_name" class="col-sm-2 control-label">职位名称</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="p_name" name="p_name"
                   ng-model="positionInfo.p_name"
                   placeholder="请输入职位名称" required>
        </div>
    </div>


    <div class="form-group">
        <label for="p_desc" class="col-sm-2 control-label">职位描述</label>

        <div class="col-sm-4">
            <textarea rows="7" class="form-control" id="p_desc" name="p_desc"
                      ng-model="positionInfo.p_desc" placeholder="请输入职位描述"></textarea>
        </div>

    </div>
    <div class="form-group">
        <label for="p_required" class="col-sm-2 control-label">职位基本要求</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="p_required" name="p_required"
                   ng-model="positionInfo.p_required"
                   placeholder="请输入职位要求" required>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default" ng-click="addRequired();">添加</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <ol class="list-group" >
                <li class="list-group-item" data-ng-repeat="item in requiredArr">{{item}}</li>
            </ol>

        </div>

    </div>
    <!---->
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary btn-block" ng-click="updateEnterpriseInfo();">保存</button>
        </div>
    </div>


</form>


<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        language: 'zh-CN',
        //format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true
        //minView: 'month'
    });
</script>