<style>
    .position_header {
        background-color: seagreen;
        color: #fff8f9;
        padding: 10px;
        font-weight: 700;
        /*max-width: 800px;*/
    }

    .position_header .position_title {
        font-size: 1.2em;
    }

    .position_header .position_publisher {
        font-size: 1em;
        padding-left: 3px;
        font-style: italic;
    }

    .position_detail {
        border: solid 2px seagreen;
        /*min-height: 500px;*/
        /*max-width: 800px;*/
    }

    .position_keys {
        background-color: #faf4fa;
        margin-bottom: 10px;
    }

    .position_keys span {
        font-size: 1em;
        padding-left: 3px;
        color: #111111;
    }

    .position_keys span.highlight {
        color: #ff413c;
        font-size: 1.3em;
    }

    .position_desc {
        margin-bottom: 30px;
    }

    .position_desc label {
        background-color: seagreen;
        color: #fff4f0;
        padding: 5px;
    }
    /*.btn-success{*/
        /*margin-left: 1px;*/
    /*}*/
    /*.btn-success {*/
    /*background-color: #388b81;*/
    /*font-size: 1em;*/
    /*color: #FFFFFF;*/
    /*}*/
</style>
<div class="position_header">
    <span class="position_title" data-ng-bind="positionDetail.p_name"></span>
    <span class="position_publisher" data-ng-bind="positionDetail.e_name"></span>
</div>
<div class="position_detail">
    <div class="position_keys">
        <span class="highlight" data-ng-bind="positionDetail.p_salary"></span>
        <span data-ng-bind="positionDetail.e_city"></span>
    </div>
    <div class="position_desc">
        <label>职位描述</label>

        <div data-ng-bind="positionDetail.p_desc">

        </div>
    </div>
    <div class="position_desc">
        <label>福利待遇</label>

        <div data-ng-bind="positionDetail.p_welfare">
        </div>
    </div>
    <div class="position_desc">
        <label>基本要求</label>

        <div>
            <ul data-ng-repeat="item in positionDetail.p_requirements track by $index">
                <li data-ng-bind="item"></li>
            </ul>
        </div>
    </div>


    <!--<div>-->
        <!--<button type="submit" class="btn btn-success"  ng-click="createBookInfo();">申请职位</button>-->
    <!--</div>-->
</div>


<!--
<div class="panel panel-success book_position">
    <div class="panel-heading">
        <h3 class="panel-title"><b>资深广告策划</b></h3>
    </div>
    <div class="panel-body">


        <section class="position_require">
<pre>
工作职责：

1、根据海信品牌宣传与推广的要求, 制订媒体策划；

2、负责KOL及公众号资源的整合及拓展，保证公司社会化媒体传播的扩散渠道；

3、跟踪推广效果，负责项目的数据的收集、整理、分析；并通过分析数据优化社会化媒体传播手段，不断提升效果。

4、密切关注广告效果，并及时调整媒介策略；

5、搜集相关媒介资料并进行分析，协助媒体关系的建立与维护，及时把握媒体动向。
</pre>
        </section>
        <section class="position_desc">
<pre>
任职要求：

1、本科或以上学历，广告、市场营销，新闻专业优先

2、3年以上广告公司或公关公司相关策划经验，有家电行业工作经验者优先；

3、可独立撰写媒体策划方案、结案报告、效果评估报告,；

4、熟悉策划流程, 有成功的策划经验及案例；

5、较强的沟通协调、逻辑、反应 、公关能力，较好的个人形象、气质；
</pre>
        </section>

        <section class="position_request"></section>
    </div>
    <div class="panel-footer"><button class="btn btn-success">申请职位</button></div>
</div>-->