<h3>ct_e_position_manage</h3>

<div class="table-responsive">
    <table class="table">
        <caption>职位信息表</caption>
        <thead>
        <tr>
            <th>职位名称</th>
            <th>发布日期</th>
            <th>状态</th>
            <th>冻结</th>
            <th>激活</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <!--<li class="list-group-item requiredItems" data-ng-repeat="item in requiredArr track by $index">-->
                    <!--<span>{{$index+1}}. {{item}}-->
                        <!--<a href="javascript:void(0);" class="removeItem"-->
                           <!--data-ng-click="removeRequiredItem($index);">移除</a>-->
                    <!--</span>-->

        <!--</li>-->
        <tr data-ng-repeat="p in positionArr track by $index">
            <td>{{p.p_name}}</td>
            <td>{{p.p_create_date}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>