<style>
    .table > tbody > tr > td.top_padding {
        padding-left: 6px;
        padding-top: 9px;
    }

    .frozen {
        color: #1bbf1f;
    }

    .unfrozen {
        color: #ff0d1e;
    }
</style>
<div class="table-responsive">
    <table class="table">
        <!--<caption>职位信息表</caption>-->
        <thead>
        <tr>
            <th>职位名称</th>
            <th>申请人</th>
            <th>申请电话</th>
            <th>申请人职业</th>
            <th>申请时间</th>
            <th>工作年限</th>
            <th>当前状态</th>

        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="p in positionRequestArr track by $index">
            <td class="top_padding">
                <a href="" data-ng-click="goToDetail(p._id);" data-ng-bind="p.p_name"></a>
            </td>
            <td class="top_padding" data-ng-bind="p.u_real_name"></td>
            <td class="top_padding" data-ng-bind="p.u_phone"></td>
            <td class="top_padding" data-ng-bind="p.u_position_title"></td>
            <td class="top_padding" data-ng-bind="formatDate(p.request_time);"></td>
            <td class="top_padding" data-ng-bind="p.u_work_years"></td>
            <td class="top_padding" data-ng-bind="p.u_status"></td>

            <!--<td class="top_padding frozen" data-ng-show="{{p.p_status}}">激活</td>-->
            <!--<td class="top_padding unfrozen" data-ng-hide="{{p.p_status}}">冻结</td>-->
            <!--<td><a class="btn btn-default" data-ng-click="freezePosition(p._id);">冻结</a></td>-->
            <!--<td><a class="btn btn-success" data-ng-click="unfreezePosition(p._id);">激活</a></td>-->
            <!--<td><a class="btn btn-danger" data-ng-click="deletePosition(p._id);">删除</a></td>-->
        </tr>
        </tbody>
    </table>
</div>