<!--

<pre>
列名	类型	说明
e_id	string	企业会员ID 唯一
e_name	string	登录名称
e_password	string	密码
e_realName	string	企业全称
e_registerNumber	string	注册号
e_type	string	企业类型
e_person	string	法人代表
e_assets	int	注册资本
e_scale	string	企业规模（50-99）
e_establishmentDate	string	成立日期
e_address	string	地址
e_businessDeadline	string	营业期限
e_businessScope	string	经营范围
e_registerOrgan	string	登记机构
e_approvedDate	string	核准日期
e_status	string	登记状态（在营、开业、在册、存续）
e_cultrue	string	企业文化介绍
e_email	string	绑定邮箱（推送简历）
e_VIP	string	是否为VIP 默认false
e_district	object	区域
password_question	string	密码找回问题
password_answer	string	密码找回答案

</pre>
-->

<form class="form-horizontal" role="form" name="enterpriseInfoForm" novalidate>
    <div class="form-group">
        <label for="e_realName" class="col-sm-2 control-label">企业全称</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="e_realName" name="e_realName"
                   ng-model="enterpriseInfo.e_realName"
                   placeholder="请输入企业全称" required>
        </div>
        <!--</div>-->
        <!--<div class="form-group">-->
        <label for="e_person" class="col-sm-2 control-label">法人代表</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="e_person" name="e_person" ng-model="enterpriseInfo.e_person"
                   placeholder="请输入名字">
        </div>
    </div>

    <div class="form-group">
        <label for="e_category" class="col-sm-2 control-label">企业类型</label>

        <div class="col-sm-4">
            <select class="form-control" id="e_category" name="e_category" ng-model="enterpriseInfo.e_category">
                <option value="0" ng-selected="true">国有企业</option>
                <option value="1">集体企业</option>
                <option value="2">股份合作企业</option>
                <option value="3">联营企业</option>
                <option value="4">有限责任公司</option>
                <option value="5">股份有限公司</option>
                <option value="6">私营企业</option>
                <option value="7">其他企业</option>
            </select>
        </div>
        <!--</div>-->
        <!--<div class="form-group">-->
        <label for="e_establishmentDate" class="col-sm-2 control-label">成立日期</label>

        <div class="col-sm-4 input-append date form_datetime" data-min-view="month" data-date-format="yyyy-mm-dd">
            <input size="16" class="form-control" id="e_establishmentDate" name="e_establishmentDate"
                   ng-model="enterpriseInfo.e_establishmentDate" type="text"
                   value=""
                   readonly>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
    </div>
    <div class="form-group">
        <label for="e_registerNumber" class="col-sm-2 control-label">注册号</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="e_registerNumber" name="e_registerNumber"
                   ng-model="enterpriseInfo.e_registerNumber"/>
        </div>

        <label for="e_assets" class="col-sm-2 control-label">注册资本</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="e_assets" name="e_assets" ng-model="enterpriseInfo.e_assets"/>
        </div>
    </div>
    <div class="form-group">
        <label for="province" class="col-sm-2 control-label">省市区</label>

        <div class="col-sm-4">
            <select id="province" name="province" class="form-control" ng-model="enterpriseInfo.province"
                    ng-change="loadCity();">
                <option value="">请选择</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select id="city" name="city" class="form-control" ng-model="enterpriseInfo.city"
                    ng-change="loadDistrict();">
                <option value="">请选择</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select id="district" name="district" class="form-control" ng-model="enterpriseInfo.district">
                <option value="">请选择</option>
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="address_detail" class="col-sm-2 control-label">详细地址</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="address_detail" name="address_detail"
                   ng-model="enterpriseInfo.address_detail"
                   placeholder="请输入详细地址">
        </div>
    </div>
    <div class="form-group">
        <label for="e_status" class="col-sm-2 control-label">登记状态</label>

        <div class="col-sm-4">
            <select class="form-control" id="e_status" name="e_status" ng-model="enterpriseInfo.e_status">
                <option value="0" ng-selected="true">在营</option>
                <option value="1">开业</option>
                <option value="2">在册</option>
                <option value="3">存续</option>
            </select>
        </div>
        <!--</div>-->
        <!--<div class="form-group">-->
        <label for="e_scale" class="col-sm-2 control-label">企业规模</label>

        <div class="col-sm-4">
            <select class="form-control" id="e_scale" name="e_scale" ng-model="enterpriseInfo.e_scale">
                <option value="0" ng-selected="true">100人以下</option>
                <option value="1">100人至200人</option>
                <option value="2">200人至500人</option>
                <option value="3">500人至1000人</option>
                <option value="4">1000人以上</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="e_businessScope" class="col-sm-2 control-label">经营内容</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="e_businessScope" name="e_businessScope"
                   ng-model="enterpriseInfo.e_businessScope" placeholder="请输入经营内容">
        </div>

        <label for="e_businessCategory" class="col-sm-2 control-label">行业分类</label>

        <div class="col-sm-4">
            <select class="form-control" id="e_businessCategory" name="e_businessCategory"
                    ng-model="enterpriseInfo.e_businessCategory">
                <option value="1" ng-selected="true">一年以上</option>
                <option value="3">三年以上</option>
                <option value="5">五年以上</option>
                <option value="10">十年以上</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="e_culture" class="col-sm-2 control-label">企业简介</label>

        <div class="col-sm-10">
            <textarea rows="7" class="form-control" id="e_culture" name="e_culture"
                   ng-model="enterpriseInfo.e_culture" placeholder="请输入经营内容"></textarea>
        </div>

    </div>

    <!---->
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary btn-block" ng-click="updateEnterpriseInfo();">保存</button>
        </div>
    </div>


</form>


<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        language: 'zh-CN',
        //format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true
        //minView: 'month'
    });
</script>